.footer {
  /* padding: 12.8rem 0; */
  border-top: 1px solid #eee;
  padding-bottom: 60px;
  background-color: #333;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 17px;
  line-height: 1.6;
  color: #cecece;
  margin-top: auto;
  padding-left: 20px;
}

.footer-heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-left: 0px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 18px;
  color: #cecece;
  transition: all 0.3s;
  margin-left: 0;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}

.container {
  /* 1140px */
  max-width: 120rem;
  /* padding: 0 3.2rem; */
  margin: 0 auto;
  background-color: #333;
  color: #fff;
}

.grid {
  display: grid;
  column-gap: 40px;
  row-gap: 9.6rem;
}
