.section-cta {
  padding: 12rem 0 12rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
  margin-left: 120px;
  margin-right: 120px;
  /* background: #fff; */
}

.cta-text {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../Images/cta.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  color: #45260a;

  padding: 40px 32px 40px 32px;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
  font-size: 32px;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  padding: 12px;
  font-size: 20px;
  border-radius: 9px;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.cta-form select {
  font-family: inherit;
}
.cta-form button {
  font-family: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.btncta {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 16px 22px;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btncta:hover {
  background-color: #45260a;
  color: white;
}
