.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 18px;
  line-height: 1.8;
}

.gridfeature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 90px;
}

.feature {
  text-align: center;
}
